{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'accounts/dashboard.css' %}">
</head>
<body>
    <div class="dashboard-container">
        <div class="sidebar">
            <div class="sidebar-header">
                <h2>Welcome, {{ username }}</h2>
            </div>
            <ul class="sidebar-menu">
                <li><a href="{% url 'accounts:register' %}" class="btn btn-primary">Enroll New</a></li>
                <li><a href="{% url 'accounts:enrollment_data' %}" class="btn btn-primary">Enroll Data</a></li>
                <li><a href="{% url 'accounts:add_face' %}" class="btn btn-primary">Add Face</a></li>
                <li><a href="#">Add Gait</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
            </ul>
        </div>
        <div class="main-content">
            <h1>Dashboard</h1>
             <div class="main-section">
                <h3>Welcome to your dashboard, {{ username }}!</h3>
            </div>
            <p>You have logged in successfully!</p>
        </div>
    </div>
</body>
</html>
